@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Google Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100dvw;
    overflow-x: hidden;
}
#particles canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#heroCanvas {
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@layer base {
    @font-face {
        font-family: 'Roobert';
        src: url('/public/fonts/Roobert-Medium.ttf');
    }
    @font-face {
        font-family: 'exwaye';
        src: url('/public/fonts/exwaye.ttf');
    }
    @font-face {
        font-family: 'zentry';
        src: url('/public/fonts/ZENTRY-Regular.ttf');
    }
    @font-face {
        font-family: 'coaster';
        src: url('/public/fonts/Coaster Simone.ttf');
    }
}

@layer utilities {
    .absolute-center {
        @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
    }
    .flex-center {
        @apply flex justify-center items-center;
    }
    .customFont {
        font-family: "zentry", serif;
        font-feature-settings: "ss01" on;
    }
    .nav-bg {
        @apply bg-black/30 rounded-b-3xl;
    }
    .nav-full {
        @apply bg-black/95;
    }
    .hero-heading {
        @apply uppercase font-zentry text-[#DFDFF2] text-7xl sm:text-[6rem] md:text-[10rem] lg:text-[16rem];
    }
}
